.App-hero{
  height:calc(70vh - 6em);
  min-height: 10em;
  display:flex;
  flex-direction:column;
  transition: height .25s;
}

.App-hero.minimized{
  height: 10em;
}


header {
  background:url('Images/WestSwimClub4.jpg') 50% no-repeat;
  background-size: cover;
  flex-grow:1;
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction:column;
  color: white;
  text-shadow: 3px 2px blue;
  text-align:center;
}

header a{
  text-decoration: none;
  color: inherit;
}

header h1{
  font-size: 5em;
  text-shadow: 3px 2px blue;
  font-family: 'Barrio', cursive;
}

nav{
  height:6em;
  background-color: white;
  text-align:right;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top: black double 4px;
  font-family: 'Josefin Sans', sans-serif;
}

nav a {
  padding: .5em;
}
.Gallery-image {

  display: block;
  border: 5px solid Navy;
  padding: 1em;
  width: 200px;
  height: 150px;
  margin: 5em auto;
  background-color: cornflowerblue;
  border-radius: 10px;
  text-align: center;
}

.Nav-bar{
  border: 5px solid Navy;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;

  }

.staff-image{

  width: 150px;
  height: 150px;
}

.staff-card{
  display: inline-block;
  border: 5px solid Navy;
  padding: 1em;
  text-align: center;
  height: 200px;
  width: 250px;
  box-shadow: 10px 10px gray;
  background-color: white;
}

.staff-card figcaption{
  margin-top: 1em;
}

h1{
  text-align: center;
  font-family: "Comic Sans MS";
  font-size: 50px;
  text-shadow: 4px 4px red;
}

h2{
  text-decoration: underline;
  text-shadow: 2px 2px red;
}



p{
  font-size: 20px;
}

body{
  background-color: cadetblue;
}
